*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bookings-button{
    align-items: center !important;
    justify-content: center!important;
    display: flex !important;
}

.table-container{
    /* width: 80%; */
    justify-content: center;
    /* align-items: center; */
    display: flex;
}